@charset "UTF-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  zoom: 1; }
.clearfix:before {
  content: "";
  display: table; }
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none;
  color: black; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

@media (min-width: 768px) {
  .hidden-sm {
    display: none; } }

* {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Heiti TC", "LiHei Pro", "PMingLiU","新細明體", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif; }

.black {
  color: #000 !important; }

.red {
  color: #a70b00 !important; }

.display-ib {
  display: inline-block; }

.display-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tac {
  text-align: center; }

.break-word {
  word-wrap: break-word; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0; }

.center-all {
  text-align: center; }
.center-all > * {
  display: inline-block;
  float: none; }

@media (min-width: 768px) {
  .center-all-pc {
    text-align: center; }
  .center-all-pc > * {
    display: inline-block;
    float: none; } }

.width-100 {
  max-width: 100%;
  width: 100%; }

.green-border-box {
  border: 1px solid #00a79e;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  margin-top: 25px;
  padding: 24px; }

.green-border {
  border: 2px solid #00a79e; }

@media (min-width: 1024px) {
  .container {
    max-width: 960px; } }

.container.width-700 {
  max-width: 700px; }

.container.width-800 {
  max-width: 800px; }

.container.width-900 {
  max-width: 900px; }

.page-heading {
  background-color: #00a79e;
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding: 15px 0; }

.block-title-sm {
  color: #00a79e;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px; }

.block-title-md {
  color: #00a79e;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px; }

.block-title-lg {
  color: #00a79e;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px; }

.blcok-title--blue {
  color: #2476bb;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px; }

.block__normal-pic {
  margin-bottom: 8px; }

.block__normal-content {
  font-size: 16px;
  line-height: 26px; }

.block__normal-content--md {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: left; }

.img-container {
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto; }

.note-block {
  text-align: center;
  margin: 25px 0;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Heiti TC", "LiHei Pro", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif; }
.note-block .note-block__inner {
  display: inline-block; }
.note-block .note-block__inner .note-txt, .note-block .note-block__inner .link-txt {
  display: inline-block; }
.note-block .note-block__inner .note-txt {
  text-align: center;
  font-size: 16px; }
.note-block .note-block__inner .link-txt {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  padding-left: 5px; }
.note-block .note-block__inner .link-txt:hover {
  color: #1ebeb5; }

.action-bar {
  margin-top: 25px;
  margin-bottom: 35px; }

@media (min-width: 768px) {
  .page-heading {
    font-size: 32px;
    text-align: center;
    padding: 20px 0; }
  .block-title-md {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px; }
  .blcok-title--blue {
    font-size: 26px;
    margin-bottom: 15px; }
  .block__normal-content {
    font-size: 16px;
    line-height: 26px; }
  .block__normal-content--md {
    font-size: 18px;
    line-height: 30px;
    text-align: left; } }

a[role=tab] {
  outline: none; }

.system-msg-block .system-icon-success {
  margin-top: 55px;
  margin-bottom: 35px; }

.alert-window {
  display: none;
  text-align: center; }
.alert-window:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.black-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 98; }

.alert-window__inner {
  display: inline-block;
  width: 90%;
  padding: 35px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  vertical-align: middle;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.75); }
@media (min-width: 768px) {
  .alert-window__inner {
    width: 500px; } }
.alert-window__inner .alert-window__heading .block-title-lg {
  margin-top: 0; }
.alert-window__inner .alert-window__content {
  padding-top: 15px; }
.alert-window__inner .alert-window__content .evaluation-block {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px; }
.alert-window__inner .alert-window__content .evaluate-button {
  cursor: pointer;
  opacity: 0.5; }
.alert-window__inner .alert-window__content .evaluate-button.selected {
  opacity: 1; }
.alert-window__inner .alert-window__content .reject-rent-form {
  text-align: left; }
.alert-window__inner .alert-window__content .hp-form-group {
  max-width: auto;
  display: block; }
.alert-window__inner .alert-window__content .hp-form-group label {
  font-size: 18px;
  margin-bottom: 15px; }
.alert-window__inner .alert-window__content .hp-button-block {
  margin-bottom: 0; }
@media (min-width: 768px) {
  .alert-window__inner .alert-window__content .hp-button-block .green-btn-md {
    margin-bottom: 0; } }
.alert-window__inner .alert-window-title {
  font-size: 30px;
  line-height: 40px;
  margin-top: 15px;
  color: #000;
  font-weight: bold; }
.alert-window__inner .alert-window-sub-title {
  font-size: 24px;
  line-height: 34px;
  color: #00a79e; }
.alert-window__inner .radio.hp-form-group {
  margin-bottom: 8px; }
@media (min-width: 768px) {
  .alert-window__inner .hp-button-block button:first-child {
    margin-right: 25px; } }

.pagination ul li {
  display: inline-block;
  margin-right: 8px; }

.pagination ul li > a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  color: #000;
  border: 1px solid #00a79e;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  cursor: pointer; }
.pagination ul li > a:last-child {
  margin-right: 0; }
.pagination ul li > a:hover, .pagination ul li > a:focus, .pagination ul li > a.current {
  color: #fff;
  background-color: #00a79e;
  text-decoration: none; }

#qa-content .row {
  display: table;
  margin-bottom: 25px; }

#qa-content .green-border-box {
  height: 100%; }

@media (min-width: 768px) {
  #qa-content .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

#qa-content ul, #qa-content ol {
  list-style: initial;
  margin: 10px 0 10px 35px; }

.ad-bk {
  overflow: hidden;
  border: 1px solid #47abe1;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #efefef;
  margin-top: 25px;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

/*layouts*/
#header {
  display: block;
  background-color: #f1f1f1;
  width: 100%;
  height: 90px;
  padding: 20px 0; }

#header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav {
  width: 100%;
  margin-left: 15px;
  font-family: "微軟正黑體"; }

#nav__logo {
  display: inline-block;
  margin-top: -5px; }

#nav__logo > a {
  display: inline-block;
  width: 52px; }

.nav__slogan {
  display: inline-block;
  width: calc(100% - 70px);
  padding-top: 8px;
  text-align: center; }
.nav__slogan > img {
  display: inline-block; }

.nav__toggle.navbar-toggle {
  border: 1px solid #00a79e;
  padding: 8px 5px 2px 5px;
  margin-right: 0;
  margin-top: 8px; }
.nav__toggle.navbar-toggle span.icon-bar {
  width: 24px;
  height: 2px;
  background-color: #00a79e;
  margin-bottom: 6px; }

.nav__list__login {
  position: relative; }
.nav__list__login .login__button {
  outline: none; }
.nav__list__login .login__menu.collapsed {
  display: block;
  line-height: 35px;
  padding: 16px; }
.nav__list__login .login__menu.collapsed > a {
  display: block; }
.nav__list__login .login__menu.collapsed > a:hover, .nav__list__login .login__menu.collapsed > a:focus {
  color: #00a79e;
  text-decoration: none; }

.status-login {
  background-image: url("/images/icons/icon-select-arrow.svg");
  background-position: right 8px center;
  background-repeat: no-repeat; }
@media (min-width: 768px) {
  .status-login {
    background: transparent; } }

.nav__bg-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00a79e;
  opacity: 0.75;
  z-index: 1; }
.nav__bg-mask .close-menu {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100;
  width: 35px;
  height: 35px;
  background-image: url("/images/icons/menu-close.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer; }

.nav__bg-mask.collapsed {
  display: block; }

.collapse-bk {
  display: none; }
.collapse-bk .login__menu {
  display: none; }

.collapse-bk.collapsed {
  display: block;
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 10;
  background-color: #fff;
  padding: 0; }
.collapse-bk.collapsed .nav__list__item > a, .collapse-bk.collapsed .login__button {
  display: block;
  padding: 15px 25px;
  border-bottom: 1px solid #3fbdb6; }
.collapse-bk.collapsed .nav__list__item > a:hover, .collapse-bk.collapsed .nav__list__item > a:focus, .collapse-bk.collapsed .login__button:hover, .collapse-bk.collapsed .login__button:focus {
  color: #00a79e;
  text-decoration: none; }

@media (min-width: 440px) {
  .nav__slogan {
    width: calc(100% - 70px);
    padding-top: 8px;
    text-align: center; }
  .nav__slogan > img {
    display: inline-block;
    max-width: 240px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #header {
    height: auto; }
  #header #nav__logo {
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px; }
  #header #nav__logo > a {
    display: inline-block;
    width: 90px; }
  #header .nav {
    display: inline-block;
    padding-top: 20px;
    width: calc(100% - 100px); }
  #header .nav__slogan {
    width: 449px;
    margin-left: 11px; }
  #header .nav__slogan > img {
    display: inline-block;
    max-width: 100%; }
  #header .collapse-bk {
    display: block; }
  #header .nav__list .nav__list__item > a {
    display: inline-block;
    margin: 25px 10px;
    color: #2476bb;
    font-size: 16px;
    text-decoration: none; } }

@media (min-width: 768px) {
  .nav__list__login {
    float: right;
    margin-top: -29px; }
  .nav__list__login .login__button {
    display: inline-block;
    text-align: center;
    font-size: 18px; }
  .nav__list__login .login__button:before {
    content: '';
    display: block;
    margin-bottom: 6px; }
  .nav__list__login .login__button.status-logout:before {
    width: 60px;
    height: 42px;
    background-image: url("/images/icons/icon-sprite_user-login.png");
    -webkit-background-size: 120px 42px;
    -moz-background-size: 120px 42px;
    background-size: 120px 42px;
    background-position: -60px 0;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 5px; }
  .nav__list__login .login__button.status-login:before {
    width: 60px;
    height: 42px;
    background-image: url("/images/icons/icon-sprite_user-login.png");
    -webkit-background-size: 120px 42px;
    -moz-background-size: 120px 42px;
    background-size: 120px 42px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 14px; }
  .nav__list__login .login__menu.collapsed {
    display: block;
    position: absolute;
    top: 74px;
    left: 0;
    z-index: 10;
    background-color: #fff;
    line-height: 36px;
    padding: 16px;
    width: 186px;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.55);
    -ms-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.55);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.55); }
  .nav__list__login .login__menu.collapsed > a {
    display: block; } }

@media (min-width: 992px) {
  #header {
    height: auto; }
  #nav__logo {
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px; }
  #nav__logo > a {
    display: inline-block;
    width: 90px; }
  .nav {
    display: inline-block;
    padding-top: 20px;
    width: calc(100% - 100px); }
  .nav__slogan {
    width: 557px;
    margin-left: 25px; }
  .nav__slogan > img {
    display: inline-block;
    max-width: 100%; }
  .collapse-bk {
    display: block; }
  .collapse-bk .nav__list .nav__list__item > a {
    display: inline-block;
    margin: 25px;
    color: #2476bb;
    font-size: 18px;
    text-decoration: none; } }

#footer {
  margin-top: 65px;
  padding: 20px 0;
  border-top: 1px solid #b2b2b2; }
#footer .footer__menu {
  text-align: center; }
#footer .footer__menu > a {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #b2b2b2;
  font-size: 13px; }
#footer .footer__menu > a:last-child {
  margin-right: 0;
  border-right: 0; }
#footer .footer__contact-info__outer {
  text-align: center; }
#footer .footer__contact-info {
  display: inline-block;
  margin-top: 20px;
  padding: 0 8px; }
#footer .footer__contact-info .footer__contact-info__logo {
  display: inline-block; }
#footer .footer__contact-info .footer__contact-info__logo a {
  display: inline-block;
  width: 52px;
  margin-right: 15px;
  margin-top: 5px; }
#footer .footer__contact-info .footer__contact-info__list {
  display: inline-block;
  margin-top: 8px;
  font-size: 15px;
  font-weight: bold;
  text-align: left; }
#footer .footer__contact-info .footer__contact-info__list li {
  margin-bottom: 6px; }
#footer .footer_copyright {
  margin-top: 20px;
  font-size: 13px;
  text-align: center; }

@media (min-width: 768px) {
  #footer {
    padding: 30px 0;
    border-top: 2px solid #b2b2b2; }
  #footer .footer__menu {
    text-align: center; }
  #footer .footer__menu > a {
    display: inline-block;
    margin-right: 24px;
    padding-right: 15px;
    border-right: 1px solid #b2b2b2;
    font-size: 16px; }
  #footer .footer__menu > a:last-child {
    margin-right: 0;
    border-right: 0; }
  #footer .footer__contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 85px;
    padding: 0 25px; }
  #footer .footer__contact-info .footer__contact-info__logo a {
    display: inline-block;
    width: 52px;
    margin-right: 15px;
    margin-top: 5px; }
  #footer .footer__contact-info .footer__contact-info__list {
    font-size: 18px;
    font-weight: bold; }
  #footer .footer__contact-info .footer__contact-info__list li {
    margin-bottom: 5px; }
  #footer .footer__fb {
    margin-top: 45px; }
  #footer .footer__fb > iframe {
    width: 100%; }
  #footer .footer_copyright {
    margin-top: -22px;
    font-size: 13px;
    text-align: center;
    float: left;
    padding-left: 15px; } }

.icon-sprite {
  background-size: 955px 399px;
  background-repeat: no-repeat;
  display: inline-block; }

.icon-sprite-half {
  background-size: 477.5px 199.5px;
  background-repeat: no-repeat;
  display: inline-block; }

.bg_no_pictures {
  width: 99px;
  height: 99px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -986px -53px; }

.button_arrow_left_green_png {
  width: 52px;
  height: 52px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -1607px -155px; }

.button_arrow_right_green {
  width: 52px;
  height: 52px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -1555px -155px; }

.button_delete_hover {
  width: 47px;
  height: 47px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -1757px -155px; }

.button_delete_normal {
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: sub;
  margin-left: 12px;
  background-image: url("/images/icons/delete.png");
  background-position: 0 0;
  background-size: 26px 26px;
  background-repeat: no-repeat; }

.delete-img-button {
  background-image: url("/images/icons/btn_delete-image.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.icon_mobile-auth {
  width: 118px;
  height: 186px;
  background-image: url("/images/icons/icon-mobile-auth.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.icon_alert_window_error {
  width: 170px;
  height: 171px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -798px -266px; }

.icon_alert_window_success {
  width: 180px;
  height: 168px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -1184px -53px; }

.icon_calendar {
  width: 28px;
  height: 27px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -924.5px -26.5px;
  margin-right: 9px;
  margin-top: 2px;
  vertical-align: middle;
  margin-bottom: 8px; }

.icon_index_good_judgement {
  width: 399px;
  height: 399px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -399px -0; }

.icon_index_online_reservation {
  width: 398px;
  height: 399px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -0 -399px; }

.icon_index_save_money {
  width: 399px;
  height: 399px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -0 -0; }

.icon_money {
  width: 43px;
  height: 41px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -624.5px -133px;
  vertical-align: top;
  margin-top: -7px;
  margin-right: 8px; }

.icon_negative {
  width: 34px;
  height: 30px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -716px -78px; }

.icon_positive {
  width: 34px;
  height: 30px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -682px -78px; }

.icon_negative {
  width: 34px;
  height: 30px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -716px -78px; }

.icon_positive {
  width: 34px;
  height: 30px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -682px -78px; }

.icon_msg {
  width: 26px;
  height: 26px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -751px -78px;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 15px; }

.product-lessor__icon {
  width: 34px;
  height: 30px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -682px -78px; }

.icon_question {
  width: 25px;
  height: 25px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -829px -77px;
  margin-right: 8px; }

.icon_warning {
  width: 24px;
  height: 27px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -854px -77px;
  vertical-align: middle;
  margin-right: 8px; }

.label_rent_money {
  width: 51px;
  height: 51px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -682px -26px; }

.label_rent_term {
  width: 51px;
  height: 51px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -731px -26px; }

.mysettings_logged {
  width: 119px;
  height: 84px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -1562px -53px; }

.slide_left {
  width: 60px;
  height: 110px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -858px -437px; }

.slide_right {
  width: 60px;
  height: 110px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -798px -437px; }

.tab_icon_renter {
  width: 84px;
  height: 84px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -1165px -266px; }

.tab_icon_tenant {
  width: 84px;
  height: 84px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -1681px -53px; }

.ark_logo {
  width: 314px;
  height: 240px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -398px -399px; }

.home-app-list .icon-sprite,
.home-app-detail__info .icon-sprite,
.user-profile-data .icon-sprite,
.rent-home-app__my-app-info .icon-sprite {
  background-image: url("/images/icons/home-app-list_sprite.png");
  background-repeat: no-repeat;
  background-size: 78px 26px;
  display: inline-block; }

.home-app-list .product-lessor__icon,
.home-app-detail__info .product-lessor__icon,
.user-profile-data .product-lessor__icon,
.rent-home-app__my-app-info .product-lessor__icon {
  width: 26px;
  height: 26px;
  background-position: 0 0;
  margin-right: 8px;
  margin-top: -1px; }

.home-app-list .icon_positive,
.home-app-detail__info .icon_positive,
.user-profile-data .icon_positive,
.rent-home-app__my-app-info .icon_positive {
  width: 26px;
  height: 26px;
  background-position: -26px 0;
  margin-top: 2px; }

.home-app-list .icon_negative,
.home-app-detail__info .icon_negative,
.user-profile-data .icon_negative,
.rent-home-app__my-app-info .icon_negative {
  width: 26px;
  height: 26px;
  background-position: -52px 0;
  margin-top: 2px; }

.home-app-list .product-evaluation__num,
.home-app-detail__info .product-evaluation__num,
.user-profile-data .product-evaluation__num,
.rent-home-app__my-app-info .product-evaluation__num {
  display: inline-block; }

.icon_user-profile {
  width: 72.5px;
  height: 75px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -726px -199.5px;
  background-size: 1431.5px 598.5px;
  background-repeat: no-repeat;
  display: inline-block; }

.icon_positive_3x {
  width: 102px;
  height: 90px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -2046px -234px;
  background-size: 2865px 1197px;
  margin-right: 35px; }

.icon_negative_3x {
  width: 102px;
  height: 90px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -2148px -234px;
  background-size: 2865px 1197px; }

.alert-window__delet-icon {
  width: 85px;
  height: 88px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -399px -133px;
  margin-bottom: 35px; }

#rent-request .product-tenant__icon, #rent-request-success .product-tenant__icon {
  width: 49px;
  height: 49px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -484px -133px;
  margin-right: 8px;
  margin-top: -1px; }

.icon_system-success {
  width: 179px;
  height: 179px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -1185px -53px;
  background-size: 1911px 798px; }

@media (min-width: 768px) {
  .icon_system-success {
    width: 179px;
    height: 179px;
    background-image: url("/images/icons/icon-sprite.png");
    background-position: -1185px -53px;
    background-size: 1911px 798px; } }

.icon_system-failed {
  display: inline-block;
  width: 85px;
  height: 85px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -399px -133px; }

.icon_system-failed-lg {
  margin-top: 35px;
  display: inline-block;
  width: 170px;
  height: 170px;
  background-image: url("/images/icons/icon-sprite.png");
  background-position: -798px -266px;
  background-size: 1911px 798px; }

#ark-logo {
  margin-top: 25px;
  margin-bottom: 35px; }
#ark-logo > img {
  display: inline-block;
  max-width: 150px; }

/* partials*/
.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  border: 0;
  width: 100%;
  margin-bottom: 25px; }

.green-btn-sm {
  background-color: #1ebeb5;
  color: #000;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  text-align: center;
  font-size: 16px;
  padding: 5px 8px; }
.green-btn-sm:hover {
  background-color: #19a79d; }

.green-btn-md {
  background-color: #1ebeb5;
  color: #000;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  text-align: center;
  font-size: 20px;
  padding: 8px 20px; }
.green-btn-md:hover {
  background-color: #19a79d; }

.green-btn-lg {
  background-color: #19a79d;
  color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  text-align: center;
  font-size: 28px;
  padding: 5px; }
.green-btn-lg:hover {
  color: #fff;
  background-color: #1ebeb5; }

.blue-btn-sm {
  background-color: #2a77b9;
  color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  text-align: center;
  padding: 8px 20px;
  font-size: 18px; }
.blue-btn-sm:hover {
  background-color: #47abe1; }

.blue-btn-md {
  background-color: #2a77b9;
  color: #000;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  text-align: center;
  padding: 10px 60px; }
.blue-btn-md:hover {
  background-color: #47abe1; }

.blue-btn-lg {
  background-color: #2a77b9;
  color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  text-align: center;
  font-size: 28px;
  padding: 5px; }
.blue-btn-lg:hover {
  color: #fff;
  background-color: #47abe1; }

.green-border-btn {
  background-color: #fff;
  border: 1px solid #1ebeb5;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  padding: 8px 20px;
  color: #1ebeb5; }

.warning-btn {
  color: #000;
  background-color: #a80c00; }
.warning-btn:hover {
  color: #000;
  background-color: #a80c00; }

@media (min-width: 768px) {
  .btn {
    width: auto; }
  .green-btn-sm {
    width: 120px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 0; }
  .green-btn-md {
    width: 150px;
    margin-top: 15px; } }

.link-txt-underline {
  text-decoration: underline; }
.link-txt-underline:hover {
  color: #1ebeb5; }

.hp-form-group .form-content-green-border {
  border: 1px solid #00a79e;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #fff;
  margin-top: -8px;
  padding: 5px 10px;
  width: 100%;
  line-height: 27px; }

input, textarea, select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none; }

select::-ms-expand {
  display: none; }

textarea:focus,
input:focus {
  outline: none; }

.hp-form-group {
  margin-bottom: 25px; }
@media (min-width: 768px) {
  .hp-form-group .hp-form-group {
    max-width: 600px;
    margin-bottom: 30px; } }

.hp-form-group label {
  text-align: left; }

.hp-form-group .radio-inline {
  line-height: 20px;
  margin-right: 15px;
  margin-left: 0; }
@media (min-width: 768px) {
  .hp-form-group .radio-inline:last-child {
    margin-left: 25px; } }

.hp-form-group label.control-label {
  font-weight: bold;
  margin-bottom: 15px; }
@media (min-width: 768px) {
  .hp-form-group label.control-label {
    margin-bottom: 0; } }

.hp-form-group label.select-label {
  margin-left: -15px;
  margin-top: 11px; }

.hp-form-group label, .hp-form-group input, .hp-form-group textarea, .hp-form-group select {
  font-size: 18px; }

.hp-form-group textarea {
  padding-top: 6px;
  padding-bottom: 14px;
  line-height: 1.5; }

.hp-form-group select {
  color: #757575;
  background-image: url("/images/icons/icon-select-arrow.svg");
  background-position: right 8px center;
  background-repeat: no-repeat; }

.hp-form-group input[type=checkbox] {
  border: 1px solid #00a79e;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  width: 32px;
  height: 32px;
  margin-top: -1px; }

.hp-form-group input[type=checkbox]:checked {
  background-image: url("/images/icons/icon_checked.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  outline: none; }

.hp-form-group input[type=checkbox]:focus {
  outline: none; }

.hp-form-group input[type=radio] {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  border: 1px solid #00a79e;
  width: 18px;
  height: 18px;
  margin-top: 0;
  margin-right: 8px; }
.hp-form-group input[type=radio]:checked:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #00a79e;
  cursor: pointer;
  outline: none; }

.hp-button-block {
  margin-top: 35px; }
.hp-button-block.float-right .btn {
  float: right;
  margin-right: 0; }

@media (min-width: 768px) {
  .mutiple-btn > .btn:first-child {
    margin-right: 25px; } }

label.error {
  width: 100%;
  margin-top: 8px;
  color: red;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  display: block;
  float: left; }
label.error::before {
  content: "";
  display: block;
  width: 100%;
  clear: both; }

.hp-table-container {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 28px; }
@media (max-width: 330px) {
  .hp-table-container {
    font-size: 15px; } }

.hp-table-container .date {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px; }
.hp-table-container .date:before {
  display: none; }

.hp-table {
  padding: 0 15px;
  width: 100%; }
.hp-table th {
  display: none; }
.hp-table tr td {
  border-bottom: 2px solid #fff; }
.hp-table td {
  display: block;
  padding: 4px;
  padding-left: 8px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }
.hp-table td:last-child {
  margin-bottom: 16px; }
.hp-table td:before {
  content: attr(data-th) " : ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block; }
.hp-table .green-btn-sm {
  width: auto;
  margin-top: 0;
  margin-bottom: 0; }
.hp-table .icon_positive, .hp-table .icon_negative, .hp-table .icon_msg {
  vertical-align: middle;
  margin-top: -3px; }
.hp-table tr[data-status=waint-for-reply] .vote,
.hp-table tr[data-status=already-reply] .vote,
.hp-table tr[data-status=deal-failed] .vote,
.hp-table tr[data-status=appealing] .vote {
  color: #9d9d9d; }
.hp-table tr[data-status=waint-for-reply] .vote span,
.hp-table tr[data-status=already-reply] .vote span,
.hp-table tr[data-status=deal-failed] .vote span,
.hp-table tr[data-status=appealing] .vote span {
  cursor: not-allowed; }
.hp-table tr[data-status=renting] .vote,
.hp-table tr[data-status=finished] .vote {
  color: #fff; }
.hp-table tr[data-status=appealing] .status {
  color: red; }
.hp-table td > a {
  display: block;
  margin: -15px;
  padding: 15px; }
.hp-table.blue-table td a:hover,
.hp-table.blue-table td a:focus {
  color: #000;
  background-color: #cbe3f0; }
.hp-table.green-table td a:hover,
.hp-table.green-table td a:focus {
  color: #000;
  background-color: #cee5e4; }
.hp-table.blue-table th {
  background-color: #c4e2f3; }
.hp-table.green-table th {
  background-color: #caedeb; }
.hp-table.blue-table td {
  background-color: #99c8e4; }
.hp-table.blue-table td.deep-blue-table {
  background-color: #2376ba; }
.hp-table.green-table td {
  background-color: #9eccca; }
.hp-table.green-table td.deep-green-table {
  background-color: #00bfb7; }
.hp-table td.js-vote-block .js-vote-button {
  cursor: pointer; }

@media (min-width: 992px) {
  .hp-table {
    padding: 0 15px;
    width: 100%;
    font-weight: bold; }
  .hp-table th {
    display: table-cell;
    padding: 8px;
    border-bottom: 2px solid #fff; }
  .hp-table th:nth-child(6) {
    text-align: center; }
  .hp-table td {
    overflow: hidden; }
  .hp-table td:before {
    display: none; }
  .hp-table td:nth-child(1) {
    width: 10%; }
  .hp-table td:nth-child(2) {
    width: 20%; }
  .hp-table td:nth-child(3) {
    width: 20%; }
  .hp-table td:nth-child(4) {
    width: 15%; }
  .hp-table td:nth-child(5) {
    width: 15%; }
  .hp-table td:nth-child(6) {
    width: 15%; }
  .hp-table td {
    display: table-cell;
    padding: 8px; }
  .hp-table td.js-vote-block {
    text-align: center;
    border-left: 2px solid #fff; }
  .hp-table td.js-vote-block .js-vote-button {
    display: inline-block; } }

.collapse-container.collapsing,
.collapse-container.collapse.in {
  padding-top: 16px;
  padding-bottom: 16px; }

.collapse-toggle {
  border: 1px solid #00a79e;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #fff;
  padding: 5px 10px;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  outline: none;
  background-image: url("../images/icons/icon-select-arrow.svg");
  background-position: right 8px center;
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  .collapse-toggle {
    display: none; }
  .collapse-container {
    display: block; } }

/*vendor*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
.slick-list:focus {
  outline: none; }
.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.slick-track:before, .slick-track:after {
  content: "";
  display: table; }
.slick-track:after {
  clear: both; }
.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
[dir="rtl"] .slick-slide {
  float: right; }
.slick-slide.slick-loading img {
  display: none; }
.slick-slide.dragging img {
  pointer-events: none; }
.slick-initialized .slick-slide {
  display: block; }
.slick-loading .slick-slide {
  visibility: hidden; }
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./vendor/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 30px;
  height: 55px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25; }
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px; }
.slick-prev:before {
  content: "←"; }
[dir="rtl"] .slick-prev:before {
  content: "→"; }

.slick-next {
  right: -25px; }
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto; }
.slick-next:before {
  content: "→"; }
[dir="rtl"] .slick-next:before {
  content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 15px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 15px;
  width: 15px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background-color: #c1c1c1;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box; }
.slick-dots li.slick-active button:before {
  background-color: #00a79e;
  opacity: 0.75; }

@media (min-width: 768px) {
  .slick-dots {
    bottom: 25px; } }

.home-page__product__sliders .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 24px;
  padding: 0; }

.home-page__product__sliders .slick-prev,
.home-page__product__sliders .slick-next {
  background-image: url("../images/icons/icon-sprite.png");
  background-repeat: no-repeat;
  background-size: 955px 399px;
  opacity: 1; }

.home-page__product__sliders .slick-prev {
  background-position: -429px -219px;
  left: 0; }
[dir="rtl"] .home-page__product__sliders .slick-prev {
  left: 0;
  right: 0; }
.home-page__product__sliders .slick-prev:before {
  content: ""; }

.home-page__product__sliders .slick-next {
  background-position: -399px -219px;
  right: 0; }
[dir="rtl"] .home-page__product__sliders .slick-next {
  left: 0;
  right: auto; }
.home-page__product__sliders .slick-next:before {
  content: ""; }

@media (min-width: 768px) {
  .home-page__product__sliders .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 55px;
    padding: 0; }
  .home-page__product__sliders .slick-prev {
    background-position: -429px -219px;
    left: 25px; }
  [dir="rtl"] .home-page__product__sliders .slick-prev {
    left: 0;
    right: 0; }
  .home-page__product__sliders .slick-prev:before {
    content: ""; }
  .home-page__product__sliders .slick-next {
    background-position: -399px -219px;
    right: 25px; }
  [dir="rtl"] .home-page__product__sliders .slick-next {
    left: 0;
    right: auto; }
  .home-page__product__sliders .slick-next:before {
    content: ""; } }

/*pages*/
.home-page__news .home-page__news__heading, .home-page__service .home-page__service__heading, .home-page__rent-step .home-page__rent-step__heading {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center; }
.home-page__news .home-page__news__heading > h2, .home-page__service .home-page__service__heading > h2, .home-page__rent-step .home-page__rent-step__heading > h2 {
  color: #129b92;
  font-size: 32px; }

.home-page__service .home-page__service__intro .service__intro__txt > h4, .tenant-recommend__article__txt h4,
.landlord-recommend__article__txt h4 {
  color: #2476bb;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px; }

.home-page__main-slider {
  width: 100%;
  overflow: hidden; }

.home-page__main-slider__slide > img {
  width: 100%; }

.home-page__heading-entrance {
  text-align: center;
  margin: 0 25px; }
.home-page__heading-entrance .button__start-tenant {
  margin: 0;
  margin-bottom: 15px; }
.home-page__heading-entrance .button__start-tenant.btn,
.home-page__heading-entrance .button__start-rent.btn {
  width: 80%; }
.home-page__heading-entrance .button__start-rent.btn {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .home-page__heading-entrance {
    text-align: center;
    margin: 25px 0; }
  .home-page__heading-entrance .button__start-tenant {
    margin-right: 80px;
    margin-bottom: 0; }
  .home-page__heading-entrance .button__start-tenant.btn,
  .home-page__heading-entrance .button__start-rent.btn {
    width: 200px; } }

.home-page__news .home-page__news__articles .article__link {
  text-decoration: none; }

.home-page__news .home-page__news__articles .article__txt {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
  color: #000;
  font-size: 22px; }

.home-page__service .home-page__service__intro {
  text-align: center;
  margin-bottom: 35px; }
.home-page__service .home-page__service__intro .service__intro__icon {
  margin-bottom: 25px;
  padding: 25px;
  text-align: center; }
.home-page__service .home-page__service__intro .service__intro__icon > img {
  display: inline-block; }
.home-page__service .home-page__service__intro .service__intro__txt > p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: left; }

.home-page__rent-step__picture {
  text-align: center;
  margin-bottom: 15px; }
.home-page__rent-step__picture > img {
  display: inline-block;
  max-width: 80%; }

.container-fluid.green-bg {
  background-color: #00a79e; }

.home-page__product__sliders {
  padding: 25px 0; }
.home-page__product__sliders .home-page__new-product__heading,
.home-page__product__sliders .home-page__hot-product__heading {
  text-align: center;
  font-size: 28px;
  color: #000; }
.home-page__product__sliders .home-page__new-product__slider_slide,
.home-page__product__sliders .home-page__hot-product__slider_slide {
  overflow: hidden; }
.home-page__product__sliders .home-page__new-product__slider_slide .slider_slide__img-container,
.home-page__product__sliders .home-page__hot-product__slider_slide .slider_slide__img-container {
  border: 20px solid #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto; }

@media (max-width: 320px) {
  .home-page__product__sliders .home-page__new-product__slider_slide .slider_slide__img-container,
  .home-page__product__sliders .home-page__hot-product__slider_slide .slider_slide__img-container {
    width: 170px;
    height: 170px; } }

@media (min-width: 321px) {
  .home-page__product__sliders .home-page__new-product__slider_slide .slider_slide__img-container,
  .home-page__product__sliders .home-page__hot-product__slider_slide .slider_slide__img-container {
    width: 210px;
    height: 210px; } }

@media (min-width: 768px) {
  .home-page__product__sliders .home-page__new-product__slider_slide,
  .home-page__product__sliders .home-page__hot-product__slider_slide {
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 25px; }
  .home-page__product__sliders .home-page__new-product__slider_slide .slider_slide__img-container,
  .home-page__product__sliders .home-page__hot-product__slider_slide .slider_slide__img-container {
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    background-size: cover;
    background-position: 50% 50%; } }

@media (min-width: 992px) {
  .home-page__product__sliders {
    padding: 35px 0; }
  .home-page__product__sliders .home-page__new-product__slider_slide,
  .home-page__product__sliders .home-page__hot-product__slider_slide {
    margin-top: 25px; }
  .home-page__product__sliders .home-page__new-product__slider_slide .slider_slide__img-container,
  .home-page__product__sliders .home-page__hot-product__slider_slide .slider_slide__img-container {
    width: 270px;
    height: 270px;
    border: 20px solid #fff; } }

.home-page__recommend {
  padding: 25px 0;
  text-align: center; }

.home-page__recommend__tab {
  display: inline-block;
  margin-top: 35px; }

.home-page__recommend__tab li {
  display: inline-block;
  opacity: 0.5; }
.home-page__recommend__tab li a {
  display: inline-block;
  padding: 0px 9px;
  font-size: 14px;
  color: #000;
  border: 1px solid #2476bb;
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none; }
.home-page__recommend__tab li a:before {
  content: "";
  display: inline-block;
  background-image: url("../images/icons/icon-sprite.png");
  background-repeat: no-repeat;
  background-size: 636.66667px 266px;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 5px; }
.home-page__recommend__tab li a[aria-controls="tenant-recommend"]:before {
  background-position: -388.66667px -88.66667px; }
.home-page__recommend__tab li a[aria-controls="landlord-recommend"]:before {
  background-position: -560px -18.33333px; }
.home-page__recommend__tab li a:first-child {
  margin-right: 10px; }

.home-page__recommend__tab li.active {
  opacity: 1; }

.home-page__recommend__tab-content {
  margin-top: 45px; }

.tenant-recommend__article__pic,
.landlord-recommend__article__pic {
  margin-bottom: 15px; }

.tenant-recommend__article__txt,
.landlord-recommend__article__txt {
  margin-bottom: 35px; }
.tenant-recommend__article__txt p,
.landlord-recommend__article__txt p {
  font-size: 18px;
  line-height: 30px;
  text-align: left; }

@media (min-width: 768px) {
  .home-page__recommend__tab li a {
    display: inline-block;
    padding: 0px 9px;
    font-size: 28px;
    color: #000;
    border: 1px solid #2476bb;
    height: 55px;
    line-height: 55px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    background-clip: padding-box;
    text-decoration: none; }
  .home-page__recommend__tab li a:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icons/icon-sprite.png");
    background-repeat: no-repeat;
    background-size: 955px 399px;
    width: 42px;
    height: 42px;
    vertical-align: middle;
    margin-top: -8px;
    margin-right: 10px; }
  .home-page__recommend__tab li a[aria-controls="tenant-recommend"]:before {
    background-position: -583px -133px; }
  .home-page__recommend__tab li a[aria-controls="landlord-recommend"]:before {
    background-position: -840px -27.5px; }
  .home-page__recommend__tab li:first-child a {
    margin-right: 45px; } }

.login-block,
.reset-password-block,
.forget-password-block,
.register-block {
  margin-top: 55px;
  margin-bottom: 25px; }
.login-block .hp-form-group > label,
.reset-password-block .hp-form-group > label,
.forget-password-block .hp-form-group > label,
.register-block .hp-form-group > label {
  font-weight: bold;
  text-align: center; }
.login-block .green-btn-md,
.reset-password-block .green-btn-md,
.forget-password-block .green-btn-md,
.register-block .green-btn-md {
  margin-top: 15px; }

.green-border-box {
  border: 1px solid #1ebeb5;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  margin-top: 25px;
  padding: 24px; }
.green-border-box .link__register-now {
  margin-bottom: 16px; }
.green-border-box .link__register-now, .green-border-box .link__forget-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.green-border-box .link__register-now i.icon-scrpite, .green-border-box .link__forget-password i.icon-scrpite {
  margin-right: 8px;
  margin-top: -4px; }
.green-border-box .link__register-now > a, .green-border-box .link__forget-password > a {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline; }
.green-border-box .link__register-now > a:hover, .green-border-box .link__forget-password > a:hover {
  color: #1ebeb5; }

.link__forget-password a,
.link__forget-password span,
.link__register-now a,
.link__register-now span {
  margin-top: 3px; }

@media (min-width: 768px) {
  .login-block .hp-form-group > label,
  .reset-password-block .hp-form-group > label,
  .forget-password-block .hp-form-group > label,
  .register-block .hp-form-group > label {
    text-align: left;
    margin-top: 11px; }
  .login-block .login-form {
    display: block;
    margin-top: 25px; } }

.register-block {
  margin-top: 45px;
  margin-bottom: 45px; }
.register-block .hp-form-group {
  margin: 25px auto; }
.register-block .hp-form-group > label {
  text-align: left;
  padding: 0px; }
.register-block label[for=male], .register-block label[for=female] {
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 35px; }
.register-block label[for=service-policy] {
  margin-top: 7px;
  margin-left: 8px; }
.register-block .gender-select {
  margin-top: 9px;
  font-size: 18px;
  padding: 0; }

@media (min-width: 768px) {
  #email-auth label, #mobile-auth__auth-code label {
    text-align: right; } }

#email-auth input, #mobile-auth__auth-code input {
  max-width: 400px; }

#email-auth .resend-email, #mobile-auth__auth-code .resend-email {
  margin-bottom: 35px; }
#email-auth .resend-email a, #mobile-auth__auth-code .resend-email a {
  color: #00a79e; }
#email-auth .resend-email a:hover, #email-auth .resend-email a:focus, #mobile-auth__auth-code .resend-email a:hover, #mobile-auth__auth-code .resend-email a:focus {
  text-decoration: underline; }

#mobile-auth__success .green-btn-md.btn {
  margin-top: 0; }

#credit-auth {
  max-width: 600px; }
#credit-auth .icon-credit-card {
  margin-top: 35px; }

.how-to-become-landlord {
  margin-bottom: 35px; }
.how-to-become-landlord .how-to-become-landlord__txt {
  margin-top: 20px;
  margin-bottom: 25px; }
.how-to-become-landlord .how-to-become-landlord__button {
  text-align: center; }
.how-to-become-landlord .how-to-become-landlord__button > a {
  color: #FFF; }

.landlord-recommend {
  margin-bottom: 35px; }
.landlord-recommend .landlord-recommend__article {
  margin-bottom: 25px; }
.landlord-recommend .landlord-recommend__pic {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .how-to-become-landlord {
    margin-bottom: 35px; }
  .how-to-become-landlord .how-to-become-landlord__txt {
    margin-top: 20px;
    margin-bottom: 25px; }
  .how-to-become-landlord .how-to-become-landlord__button {
    text-align: left; } }

.home-app-aside-block {
  display: none; }

@media (min-width: 992px) {
  .home-app-aside-block {
    display: block; } }

.home-app-search.green-border-box {
  margin-bottom: 35px;
  padding: 5px 16px; }
.home-app-search.green-border-box .search-filter.collapsing,
.home-app-search.green-border-box .search-filter.collapse.in {
  padding-top: 16px;
  padding-bottom: 16px; }
.home-app-search.green-border-box .filter-checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
  float: right; }
.home-app-search.green-border-box .filter-checkbox input[type=checkbox] {
  margin-top: -8px;
  margin-right: 8px; }
.home-app-search.green-border-box .filter-checkbox label {
  margin-top: 0;
  margin-bottom: 0; }
.home-app-search.green-border-box .search-button__mobile {
  position: relative;
  width: 100%;
  background-color: transparent;
  color: #1ebeb5;
  text-align: center;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0; }
.home-app-search.green-border-box .search-button__mobile:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
.home-app-search.green-border-box .search-button__mobile:after {
  content: "V";
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 0; }
.home-app-search.green-border-box .search-button__mobile[aria-expanded=true]:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.search-filter-form input,
.search-filter-form select {
  width: 100%; }

@media (min-width: 768px) {
  .home-app-search.green-border-box {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0; }
  .home-app-search {
    margin-top: 32px; }
  .home-app-search .collapse {
    display: block; }
  .home-app-search .search-filter {
    padding-top: 16px;
    padding-bottom: 0; }
  .home-app-search .hp-form-group {
    padding: 0 5px; }
  .home-app-search .hp-form-group.width-100 {
    max-width: 100%;
    width: 100%; }
  .home-app-search .filter-checkbox.display-f.col-sm-offset-3 {
    margin-left: 0; }
  .home-app-search .search-button__mobile {
    display: none; }
  .home-app-search .home-app__search-button {
    margin-top: 4px;
    height: 38px;
    line-height: 38px;
    padding: 0; } }

.home-app-list__item {
  margin: 25px 0; }

.home-app-list__item__pic {
  text-align: center; }
.home-app-list__item__pic .img-container {
  display: inline-block;
  width: 130px;
  height: 130px; }

.home-app-list__item__info {
  line-height: 1.8;
  padding-bottom: 15px; }
.home-app-list__item__info > * {
  text-align: center; }
.home-app-list__item__info .product-name {
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 8px; }
.home-app-list__item__info .product-name:hover, .home-app-list__item__info .product-name:focus {
  text-decoration: none;
  color: #00a79e; }
.home-app-list__item__info .product-category,
.home-app-list__item__info .product-lessor,
.home-app-list__item__info .product-evaluation {
  display: none; }
.home-app-list__item__info .product-status {
  width: 100%; }
.home-app-list__item__info .product-status:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #39b44a;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  margin-right: 8px;
  vertical-align: text-bottom; }
.home-app-list__item__info .product-status[data-toggle=available]:before {
  background-color: #39b44a; }
.home-app-list__item__info .product-status[data-toggle=unavailable]:before {
  background-color: #4d4d4d; }
.home-app-list__item__info .product-status[data-toggle=renting]:before {
  background-color: #00bfb6; }

@media (min-width: 768px) {
  .home-app-aside-block {
    margin-top: 20px; }
  .home-app-aside-block .product-slide .slider_slide__img-container {
    display: block;
    height: 160px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto; }
  .home-app-aside-block .slick-prev,
  .home-app-aside-block .slick-next {
    top: 116%; }
  .home-app-aside-block .slick-prev {
    left: -4px; }
  .home-app-aside-block .slick-next {
    right: -4px; }
  .home-app-aside-block .slick-prev:before, .home-app-aside-block .slick-next:before {
    display: inline-block;
    background-image: url("/images/icons/icon-sprite.png");
    background-repeat: no-repeat;
    background-size: 955px 399px;
    background-position-y: -77.5px;
    width: 26px;
    height: 27px;
    font-size: 0; }
  .home-app-aside-block .slick-prev:before {
    background-position-x: -803.5px; }
  .home-app-aside-block .slick-next:before {
    background-position-x: -777.5px; }
  .latest-product-slider__controller,
  .hot-product-slider__controller {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #00bfb6;
    margin-top: 12px; }
  .latest-product-slider__controller > h3,
  .hot-product-slider__controller > h3 {
    font-weight: bold; }
  .home-app-list__item {
    margin-top: 0;
    margin-bottom: 25px; }
  .home-app-list__item__info > *, .home-app-detail__info > * {
    text-align: left; }
  .home-app-list__item__info .product-category,
  .home-app-list__item__info .product-lessor,
  .home-app-list__item__info .product-evaluation, .home-app-detail__info .product-category,
  .home-app-detail__info .product-lessor,
  .home-app-detail__info .product-evaluation {
    display: inline-block; }
  .home-app-list__item__info .product-lessor,
  .home-app-list__item__info .product-evaluation, .home-app-detail__info .product-lessor,
  .home-app-detail__info .product-evaluation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .home-app-list__item__info .product-category, .home-app-detail__info .product-category {
    margin-right: 15px;
    background-color: #faaf3b;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    padding: 2px 5px;
    margin-top: -3px; }
  .home-app-list__item__info .product-status, .home-app-detail__info .product-status {
    width: auto; }
  .home-app-list__item__info .product-lessor, .home-app-detail__info .product-lessor {
    margin-top: 8px;
    margin-right: 16px;
    padding-top: 3px;
    cursor: pointer; }
  .home-app-list__item__info .product-lessor:hover, .home-app-list__item__info .product-lessor:focus, .home-app-detail__info .product-lessor:hover, .home-app-detail__info .product-lessor:focus {
    text-decoration: none;
    color: #00a79e; }
  .home-app-list__item__info .product-evaluation, .home-app-detail__info .product-evaluation {
    margin-top: 8px;
    margin-left: 15px; }
  .home-app-list__item__info .product-evaluation--good,
  .home-app-list__item__info .product-evaluation--bad, .home-app-detail__info .product-evaluation--good,
  .home-app-detail__info .product-evaluation--bad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px; }
  .home-app-list__item__info .product-evaluation__num, .home-app-detail__info .product-evaluation__num {
    margin-left: 8px;
    margin-top: 3px; }
  .home-app-list__item__info .product-evaluation--good > .product-evaluation__num, .home-app-detail__info .product-evaluation--good > .product-evaluation__num {
    color: #00a79e; }
  .home-app-list__item__info .product-evaluation--bad > .product-evaluation__num, .home-app-detail__info .product-evaluation--bad > .product-evaluation__num {
    color: #a70b00; }
  .home-app-list__item .home-app-list__item__pic {
    text-align: center; }
  .home-app-list__item .home-app-list__item__pic > img {
    display: inline-block;
    max-width: 100%; }
  .home-app-list__item__action {
    line-height: 7.6; }
  .home-app-list__item__action button {
    width: 100%; } }

.home-app-detail__pic {
  margin-top: 15px; }

.home-app-detail__slider-for .product-slide,
.home-app-detail__slider-nav .product-slide {
  display: inline-block;
  padding: 5px; }

.home-app-detail__slider-nav .product-slide.slick-slide.slick-current.slick-active > img {
  border: solid 4px #1ebeb5; }

.home-app-detail__main .rent-button.green-btn-md {
  margin-left: 0;
  margin-right: 0; }

.home-app-detail__main {
  margin-bottom: 35px; }

.home-app-detail__info {
  line-height: 1.8;
  padding-bottom: 15px; }
.home-app-detail__info > * {
  text-align: left; }
.home-app-detail__info .product-name {
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px; }
.home-app-detail__info .product-category {
  margin-right: 15px;
  background-color: #faaf3b;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  padding: 2px 5px;
  margin-top: -3px;
  margin-bottom: 8px; }
.home-app-detail__info .product-status {
  width: auto; }
.home-app-detail__info .product-status:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #39b44a;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  margin-right: 8px;
  vertical-align: text-bottom; }
.home-app-detail__info .product-status[data-toggle=available]:before {
  background-color: #39b44a; }
.home-app-detail__info .product-status[data-toggle=unavailable]:before {
  background-color: #00bfb6; }
.home-app-detail__info .product-location {
  margin-top: 5px;
  margin-bottom: 5px; }
.home-app-detail__info .product-lessor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  padding-top: 3px;
  cursor: pointer; }
.home-app-detail__info .product-evaluation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px; }
.home-app-detail__info .product-evaluation--good,
.home-app-detail__info .product-evaluation--bad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px; }
.home-app-detail__info .product-evaluation__num {
  margin-left: 8px;
  margin-top: 3px; }
.home-app-detail__info .product-evaluation--good > .product-evaluation__num {
  color: #00a79e; }
.home-app-detail__info .product-evaluation--bad > .product-evaluation__num {
  color: #a70b00; }
.home-app-detail__info .product-rent-price__heading,
.home-app-detail__info .product-rent-deposit__heading,
.home-app-detail__info .product-descript__heading,
.home-app-detail__info .product-deal-location__heading,
.home-app-detail__info .product-accessories__heading {
  font-size: 18px;
  font-weight: bold; }
.home-app-detail__info .product-descript__heading,
.home-app-detail__info .product-deal-location__heading,
.home-app-detail__info .product-accessories__heading {
  margin-top: 8px; }
.home-app-detail__info .product-rent-price__content,
.home-app-detail__info .product-rent-deposit__content {
  margin-left: 8px;
  font-size: 18px;
  font-weight: normal; }
.home-app-detail__info .product-deal-location .product-deal-location__list__item {
  margin-bottom: 20px; }
.home-app-detail__info .product-deal-location .location-name {
  margin-right: 25px;
  font-weight: bold; }
.home-app-detail__info .product-deal-location .location-address {
  display: block; }

@media (min-width: 768px) {
  .home-app-detail__pic {
    margin-top: 0; } }

.rent-home-app__my-app-info .home-app-list__item__pic .img-container {
  width: 100%;
  max-width: 100%;
  height: 24vw; }
@media (min-width: 768px) {
  .rent-home-app__my-app-info .home-app-list__item__pic .img-container {
    width: 170px;
    height: 170px; } }

@media (min-width: 768px) {
  .rent-home-app__my-app-info {
    border: 1px solid #1ebeb5;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    margin-top: 25px;
    padding: 24px; } }

.rent-home-app__my-app-info .home-app-list__item__pic, .rent-home-app__my-app-info .home-app-list__item__info {
  padding-left: 5px;
  padding-right: 5px; }

.rent-home-app__my-app-info .home-app-list__item__info > * {
  text-align: left; }

.rent-home-app__my-app-info .product-name {
  font-size: 18px;
  font-weight: bold; }

.rent-home-app__my-app-info .product-lessor__icon.icon-sprite {
  display: none; }

.rent-home-app__my-app-info a.product-lessor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
.rent-home-app__my-app-info a.product-lessor:hover, .rent-home-app__my-app-info a.product-lessor:focus {
  text-decoration: none;
  color: #00a79e; }
.rent-home-app__my-app-info a.product-lessor .product-lessor__icon {
  vertical-align: bottom; }
.rent-home-app__my-app-info a.product-lessor .product-lessor__txt {
  display: inline-block;
  margin-left: 0; }

.rent-home-app__my-app-info .product-status, .rent-home-app__my-app-info .product-location {
  display: none; }
@media (min-width: 768px) {
  .rent-home-app__my-app-info .product-status, .rent-home-app__my-app-info .product-location {
    display: inline-block; } }

@media (min-width: 768px) {
  .rent-home-app__my-app-info .home-app-list__item {
    margin-bottom: 0; }
  .rent-home-app__my-app-info .home-app-list__item__info {
    margin-left: 25px; }
  .rent-home-app__my-app-info .home-app-list__item__info .product-name {
    font-size: 24px;
    margin-bottom: 25px; }
  .rent-home-app__my-app-info .home-app-list__item__info .product-location {
    margin-top: 5px; }
  .rent-home-app__my-app-info .home-app-list__item__info .product-lessor__icon.icon-sprite {
    display: inline-block; } }

@media (min-width: 768px) {
  .select-rent-time .hp-form-group {
    margin-bottom: 0; } }

.select-deal-location .my-deal-location__list {
  margin-bottom: 0; }

.rent-result {
  line-height: 1.5; }
.rent-result .block-title-md {
  margin-top: 0;
  margin-bottom: 35px; }
.rent-result .rent-result__rent-info {
  width: calc(100% - 54px);
  margin-left: 8px; }
.rent-result .rent-result__item {
  margin-bottom: 16px; }
.rent-result .rent-result__item__title {
  margin-bottom: 4px;
  font-weight: bold; }

@media (min-width: 768px) {
  .rent-result .block-title-md {
    margin-top: 0;
    margin-bottom: 35px; }
  .rent-result .rent-result__info-outer {
    max-width: 700px;
    margin: 0 auto; }
  .rent-result .rent-result__rent-info {
    margin-left: 15px; }
  .rent-result .rent-result__item {
    text-align: left;
    margin-bottom: 8px; }
  .rent-result .rent-result__item__title {
    margin-bottom: 0;
    margin-right: 5px;
    font-weight: bold;
    width: auto; }
  .rent-result .rent-result__item__content {
    width: auto; } }

.add-home-app-form .upload-img-block {
  margin-top: 15px;
  margin-bottom: 25px; }

.add-home-app-form .upload-area-outer {
  padding: 0 15px; }

.add-home-app-form .upload-area {
  position: relative;
  display: inline-block;
  border: 0;
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
  margin-top: 12px;
  padding-left: 0;
  padding-right: 4px; }

.add-home-app-form .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer; }

.add-home-app-form .img-uploaded {
  width: 100%;
  height: 29.6vw;
  background-color: #ddd;
  max-height: 146px; }
@media (min-width: 768px) {
  .add-home-app-form .img-uploaded {
    width: 146px;
    height: 146px; } }

.add-home-app-form .note-bk {
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px; }

.add-home-app-form .delete-img-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -12px;
  right: -6px;
  z-index: 10; }

.add-home-app-form .add-accessory-input__outer {
  width: calc(100% - 50px);
  float: left; }

.add-home-app-form .add-accessory-button__outer {
  margin-left: 10px;
  float: left; }
.add-home-app-form .add-accessory-button__outer #add-accessory-button {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  background-color: #1ebeb5;
  width: 38px;
  height: 38px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
  font-weight: lighter;
  margin-top: -9px; }

.add-home-app-form .accessory-item {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px; }

.add-home-app-form .delete-accessory {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-clip: padding-box;
  background-color: #8e8e8e;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  position: absolute;
  top: 0;
  right: 0; }

.add-home-app-form .hp-form-group input[type=text].accessory-item__input {
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  border-bottom: 1px solid #00a79e;
  width: calc(100% - 47px);
  float: left; }

.add-home-app-form .hp-button-block {
  margin-top: 35px; }
@media (min-width: 768px) {
  .add-home-app-form .hp-button-block .button-cancel {
    margin-right: 25px; } }

#rent-request .system-msg {
  text-align: center; }
@media (min-width: 768px) {
  #rent-request .system-msg {
    text-align: right; } }

@media (min-width: 768px) {
  #rent-request .warning-btn {
    margin-right: 24px; } }

#rent-request .rent-info__product > *,
#rent-request_contact-tenant .rent-info__product > * {
  display: inline-block; }

#rent-request .rent-info__product-pic,
#rent-request_contact-tenant .rent-info__product-pic {
  margin-bottom: 15px; }
#rent-request .rent-info__product-pic .img-container,
#rent-request_contact-tenant .rent-info__product-pic .img-container {
  padding-bottom: 100%; }

#rent-request .rent-info__product-name,
#rent-request_contact-tenant .rent-info__product-name {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 25px; }

#rent-request .product-tenant,
#rent-request_contact-tenant .product-tenant {
  margin-bottom: 15px;
  cursor: pointer; }
#rent-request .product-tenant:hover, #rent-request .product-tenant:focus,
#rent-request_contact-tenant .product-tenant:hover,
#rent-request_contact-tenant .product-tenant:focus {
  color: #00a79e;
  text-decoration: none; }

#rent-request .product-tenant__txt,
#rent-request_contact-tenant .product-tenant__txt {
  height: 49px;
  line-height: 49px;
  font-size: 18px;
  font-weight: bold; }

#rent-request .product-evaluation > *,
#rent-request_contact-tenant .product-evaluation > * {
  display: inline-block; }
#rent-request .product-evaluation > * .icon_positive, #rent-request .product-evaluation > * .icon_negative,
#rent-request_contact-tenant .product-evaluation > * .icon_positive,
#rent-request_contact-tenant .product-evaluation > * .icon_negative {
  vertical-align: middle;
  margin-right: 10px; }
#rent-request .product-evaluation > * .product-evaluation__num,
#rent-request_contact-tenant .product-evaluation > * .product-evaluation__num {
  display: inline-block;
  height: 36px;
  line-height: 36px; }

#rent-request .rent-result,
#rent-request_contact-tenant .rent-result {
  margin-top: 25px; }

#rent-request .rent-result__rent-icon,
#rent-request_contact-tenant .rent-result__rent-icon {
  width: 50px;
  height: 50px;
  background-color: #41aae3;
  border-radius: 10px; }

#rent-request .rent-result__rent-info,
#rent-request_contact-tenant .rent-result__rent-info {
  margin-bottom: 35px; }

#rent-request .rent-info-item .title,
#rent-request_contact-tenant .rent-info-item .title {
  font-weight: bold; }

#rent-request .rent-info-item .title, #rent-request .rent-info-item .content,
#rent-request_contact-tenant .rent-info-item .title,
#rent-request_contact-tenant .rent-info-item .content {
  display: inline-block; }

@media (min-width: 768px) {
  #rent-request .hp-button-block > .btn:last-child,
  #rent-request_contact-tenant .hp-button-block > .btn:last-child {
    margin-right: 25px; } }

#rent-request_contact-tenant .product-tenant__detail {
  margin-top: -5px;
  font-size: 16px;
  line-height: 20px;
  color: red; }

#rent-request_contact-tenant .rent-result__rent-icon.label_rent_contract {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(/images/icons/icon-contract.png); }

.user-pic {
  margin-top: 25px;
  display: block; }

.user-profile-data {
  font-size: 16px; }
.user-profile-data .data-title {
  margin-right: 20px;
  margin-bottom: 15px;
  font-weight: bold; }

.data-content.product-evaluation .icon_positive,
.data-content.product-evaluation .icon_negative {
  margin-top: -5px;
  margin-right: 8px; }

.product-evaluation--good .product-evaluation__num {
  margin-right: 25px; }

.user-profile-basic-info {
  margin-top: 25px;
  margin-bottom: 25px; }

.user-profile-basic-info__list {
  font-size: 18px;
  text-align: left; }
.user-profile-basic-info__list li {
  margin-bottom: 30px; }
.user-profile-basic-info__list li > label {
  font-weight: bold;
  margin-bottom: 8px; }

@media (min-width: 768px) {
  .user-pic {
    display: none; }
  .user-profile {
    margin-top: 35px; }
  .user-profile-basic-info__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.5; }
  .user-profile-basic-info__list li > label {
    width: 230px;
    height: 31px;
    margin-right: 8px;
    line-height: 34px;
    margin-top: 0; }
  .user-profile-basic-info__list li > p {
    width: 100%;
    text-align: right; }
  .user-profile-basic-info__list li > .radio-inline {
    width: auto; } }

.user-profile-basic-info__list .hp-form-group {
  margin-bottom: 35px; }

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
  margin-left: 0; }
@media (min-width: 768px) {
  .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-left: 10px; } }

.my-app-heading {
  margin-top: 35px; }

.my-app_money-display {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  line-height: 1.5; }
.my-app_money-display .my-app_money-display__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  width: calc(100% - 50px); }

.my-app-heading,
.my-app-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }

.my-app-list {
  margin-top: 15px; }
.my-app-list .home-app-list__item__pic .img-container {
  width: 150px;
  height: 150px; }
.my-app-list .product-name {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 15px; }
.my-app-list .product-location {
  margin-top: 15px; }
.my-app-list .green-btn-md {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .my-app-heading .my-app_money-display {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 20px; }
  .my-app-heading .my-app_money-display > * {
    display: inline-block; }
  .my-app-heading .button-add > * {
    float: right; }
  .my-app-list .product-name {
    margin-top: 0;
    margin-bottom: 25px; }
  .my-app-list .product-location {
    margin-top: 25px; }
  .my-app-list .green-btn-md {
    margin-top: 54px;
    margin-bottom: 25px; } }

@media (min-width: 768px) {
  .add-deal-location__form .js-addLocation {
    margin-top: -9px; } }

.my-deal-location .green-btn-md {
  margin-right: 25px; }

.my-deal-location__list {
  margin-bottom: 25px; }
.my-deal-location__list .my-deal-location__list-item {
  cursor: pointer;
  margin-bottom: 8px; }
.my-deal-location__list .my-deal-location__list-item:hover, .my-deal-location__list .my-deal-location__list-item:focus, .my-deal-location__list .my-deal-location__list-item.selected {
  background-color: #41aae3; }
.my-deal-location__list .location-name {
  font-size: 16px;
  line-height: 26px; }
.my-deal-location__list .location-address {
  font-size: 14px;
  line-height: 20px; }
.my-deal-location__list .location-name {
  margin-right: 25px;
  margin-bottom: 5px;
  font-weight: bold;
  display: block; }
.my-deal-location__list .location-delete {
  float: right;
  margin-top: 2px; }

@media (min-width: 768px) {
  .add-deal-location__form.green-border-box {
    border: 0;
    padding: 0; }
  .add-deal-location__form.green-border-box .hp-form-group {
    max-width: 100%; }
  .my-deal-location__list {
    margin-bottom: 25px; }
  .my-deal-location__list .my-deal-location__list-item {
    cursor: pointer;
    margin-bottom: 8px; }
  .my-deal-location__list .location-name, .my-deal-location__list .location-address {
    font-size: 20px;
    line-height: 1.5; }
  .my-deal-location__list .location-name {
    margin-right: 25px;
    font-weight: bold;
    display: inline-block; }
  .my-deal-location__list .location-delete {
    float: right;
    margin-top: 2px; } }

.rent-record__tab {
  margin-top: 35px; }

.rent-record__tab li {
  display: inline-block;
  opacity: 0.5; }
.rent-record__tab li a {
  display: inline-block;
  padding: 0px 9px;
  font-size: 14px;
  color: #000;
  border: 1px solid #2476bb;
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none; }
.rent-record__tab li a:before {
  content: "";
  display: inline-block;
  background-image: url("/images/icons/icon-sprite.png");
  background-repeat: no-repeat;
  background-size: 636.66667px 266px;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 5px; }
.rent-record__tab li a[aria-controls="tenant-record"]:before {
  background-position: -560px -18.33333px; }
.rent-record__tab li a[aria-controls="landlord-record"]:before {
  background-position: -388.66667px -88.66667px; }
.rent-record__tab li a:first-child {
  margin-right: 10px; }

.rent-record__tab li.active {
  opacity: 1; }

@media (min-width: 768px) {
  .rent-record__tab li a {
    display: inline-block;
    padding: 0px 9px;
    font-size: 28px;
    color: #000;
    border: 1px solid #2476bb;
    height: 55px;
    line-height: 55px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    background-clip: padding-box;
    text-decoration: none; }
  .rent-record__tab li a:before {
    content: "";
    display: inline-block;
    background-image: url("/images/icons/icon-sprite.png");
    background-repeat: no-repeat;
    background-size: 955px 399px;
    width: 42px;
    height: 44px;
    vertical-align: middle;
    margin-top: -8px;
    margin-right: 10px; }
  .rent-record__tab li a[aria-controls="tenant-record"]:before {
    background-position: -840px -26px; }
  .rent-record__tab li a[aria-controls="landlord-record"]:before {
    background-position: -582px -133px; }
  .rent-record__tab li a:first-child {
    margin-right: 45px; } }

.landlord-product-list {
  margin-top: 35px; }

#news-center .hp-table td:before {
  width: auto; }

#news-center__detail .blue-border {
  border: 1px solid #99c8e4; }

#news-center__detail .green-border {
  border: 1px solid #9eccca; }

#news-center__detail .content {
  margin-top: 15px;
  padding: 15px; }

.aside-block, .main-block {
  margin-top: 35px; }

.article-categories-menu {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  line-height: 28px;
  background-color: #efefef; }
.article-categories-menu > li {
  margin-bottom: 8px; }
.article-categories-menu > li > a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 5px 10px; }
.article-categories-menu > li > a:hover, .article-categories-menu > li > a:focus {
  color: #00a79e; }
.article-categories-menu > li.current > a {
  color: #000;
  background-color: #00a79e;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box; }

.article, .article-detail {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #efefef; }
.article .article__pic, .article-detail .article__pic {
  margin-bottom: 8px; }
.article .article__pic.img-container, .article-detail .article__pic.img-container {
  padding-bottom: 65%; }
.article .article__cate-label, .article-detail .article__cate-label {
  display: inline-block;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #00a79e;
  color: #fff; }
.article .article__published-date, .article-detail .article__published-date {
  display: inline-block;
  float: right;
  margin-bottom: 8px;
  height: 32px;
  line-height: 32px; }
.article .article__txt__title, .article-detail .article__txt__title {
  font-size: 22px;
  line-height: 34px;
  font-weight: bold; }
.article .article__txt__content, .article-detail .article__txt__content {
  font-size: 16px;
  line-height: 26px; }
.article .readmore-btn-outer, .article-detail .readmore-btn-outer {
  text-align: right; }
.article .readmore-btn.blue-btn-sm.btn, .article-detail .readmore-btn.blue-btn-sm.btn {
  display: inline-block;
  width: auto;
  font-size: 16px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-clip: padding-box;
  margin-top: 8px;
  margin-bottom: 0;
  color: #000;
  padding: 5px 20px;
  background-color: #41aae3; }

.article-detail {
  background-color: #fff;
  padding: 0 15px; }

.block-title-lg h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 25px; }

.btn-print-contract {
  margin-top: 8px;
  margin-bottom: 8px; }

.rent-info.green-border-box {
  margin-top: 0; }

@media (min-width: 768px) {
  .block-title-lg h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: left; }
  .btn-print-contract {
    float: right;
    margin-top: -40px; }
  .pdf-download {
    margin-right: 15px; } }

#rent-contract .title {
  text-align: center;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 24px; }

#rent-contract .sub-title {
  font-weight: bold;
  line-height: 28px;
  margin-top: 8px;
  margin-bottom: 8px; }

#rent-contract .list {
  display: block;
  padding-left: 15px;
  font-size: 16px;
  line-height: 28px; }

#rent-contract .list > span {
  font-size: 18px;
  line-height: 30px; }

#rent-contract .checkedlist.hp-form-group {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0; }

#rent-contract .black-border {
  border: 1px solid #000;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box; }

#rent-contract .signUpDate {
  margin-top: 65px;
  text-align: center;
  font-size: 18px;
  line-height: 30px; }

.button-cancel {
  background-color: darkgray;
}