label.error {
    color: indianred;
}
input.error { border: 1px solid red; }
label.error {
    background:url("/vendors/jquery-validation/demo/images/unchecked.gif") no-repeat 0px 0px;

    padding-left: 16px;

    padding-bottom: 2px;

    font-weight: bold;

    color: #EA5200;
}
label.checked {
    background:url("/vendors/jquery-validation/demo/images/checked.gif") no-repeat 0px 0px;
}